<div class="c-dashboard">

    <div class="c-dashboard__header" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon class="c-dashboard__header__icon">language</mat-icon>
            <span class="c-dashboard__header__title">{{'title' | translate}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="c-dashboard__header__date">
            <span>{{'lastUpdate' | translate}}</span>
            <span class="c-dashboard__header__date__value">{{lastUpdate$ | async | date:'d-M-yyyy, HH:mm z'}}</span>
        </div>
    </div>

    <div class="c-dashboard__container" *ngIf="viewData$ | async; let viewData; else spinner" fxLayout="column">
        <mat-tab-group (selectedIndexChange)="currentTabIndex = $event" class="c-dashboard__container__tabs">
            <mat-tab label="{{'tabs.summary' | translate}}"></mat-tab>
            <mat-tab label="{{'tabs.charts' | translate}}"></mat-tab>
        </mat-tab-group>
        <!-- Summary -->
        <div *ngIf="currentTabIndex === 0">
            <!-- Totales -->
            <covid-summary [viewData]="viewData" [todayData$]="todayData$" [tomorrowData$]="tomorrowData$" [countUpOptions]="countUpOptions"></covid-summary>
            <!-- Chart -->
            <covid-daily-increment-chart [historicalData$]="historicalCases$"></covid-daily-increment-chart>
        </div>
        <!-- More details -->
        <covid-charts *ngIf="currentTabIndex === 1" [historical]="historicalCases$" [global]="globalCases$" [literals]="literals$"></covid-charts>
    </div>

</div>

<ng-template #spinner>
    <div class="spinner">
        <mat-progress-spinner class="example-margin" color="accent" mode="indeterminate"></mat-progress-spinner>
    </div>
</ng-template>
