@import "src/scss/settings";
@import "src/scss/utilities";

:host {
	@include page-container;
}

:host ::ng-deep {
	.c-dashboard {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;

		@include page-header;

		&__container {
			display: flex;
			flex: 1 1 auto;

			@include cards;
		}
	}
}

