<div class="c-dashboard">

    <div class="c-dashboard__header" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon class="c-dashboard__header__icon">language</mat-icon>
            <span class="c-dashboard__header__title">{{'title' | translate}}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="c-dashboard__header__date">
            <span>{{'lastUpdate' | translate}}</span>
            <span class="c-dashboard__header__date__value">{{lastUpdate$ | async | date:'d-M-yyyy, HH:mm z'}}</span>
        </div>
    </div>

    <div class="c-dashboard__container" *ngIf="viewData$ | async; let viewData; else spinner" fxLayout="column">
        <mat-tab-group (selectedIndexChange)="currentTabIndex = $event" class="c-dashboard__container__tabs">
            <mat-tab label="{{'tabs.summary' | translate}}"></mat-tab>
            <mat-tab label="{{'tabs.charts' | translate}}"></mat-tab>
        </mat-tab-group>
        <div *ngIf="currentTabIndex === 0" class="c-dashboard__container__cards" fxLayout="row wrap" fxLayoutAlign="flex-start flex-start">
            <mat-card
                class="c-dashboard__container__cards__card"
                *ngFor="let card of viewData?.cards; trackBy: trackByIndex"
                fxFlex.xs="100"
                [fxFlex.sm]="'0 1 calc(50% - 20px)'"
                [fxFlex.md]="'0 1 calc(50% - 40px)'"
                [fxFlex]="'0 1 calc(25% - 40px)'"
            >
                <mat-card-header class="c-dashboard__container__cards__card__header">
                    <mat-card-title class="c-dashboard__container__cards__card__header__title">{{ 'cards.' + card?.title | translate}}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="c-dashboard__container__cards__card__content">
                    <span class="c-dashboard__container__cards__card__content__value" [countUp]="card?.value" [options]="countUpOptions" [reanimateOnClick]="false"></span>
                    <div class="c-dashboard__container__cards__card__increment">
                        <span>{{'cards.increment' | translate}}</span>
                        <div
                            [ngClass]="card?.increment > 0
                            ? 'c-dashboard__container__cards__card__increment__value--bad'
                            : 'c-dashboard__container__cards__card__increment__value--good'"
                        >
                            <span class="c-dashboard__container__cards__card__increment__value">{{card?.increment > 0 ? '+' : ''}}</span>
                            <span
                                class="c-dashboard__container__cards__card__increment__value"
                                [countUp]="card?.increment" [options]="countUpOptions"
                                [reanimateOnClick]="false">
                            </span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <covid-daily-increment-chart [historicalData$]="historicalCases$"></covid-daily-increment-chart>
        </div>
        <covid-charts *ngIf="currentTabIndex === 1" [historical]="historicalCases$" [global]="globalCases$" [literals]="literals$"></covid-charts>
    </div>

</div>

<ng-template #spinner>
    <div class="spinner">
        <mat-progress-spinner class="example-margin" color="accent" mode="indeterminate"></mat-progress-spinner>
    </div>
</ng-template>
