<div class="c-app" [ngClass]="{'c-app--mobile': currentLayout?.type === 'mobile'}">

    <mat-toolbar class="c-app__toolbar" color="primary">
        <mat-toolbar-row>
            <button class="c-app__toolbar__button" mat-icon-button aria-label="Menu icon" (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="c-app__toolbar__title">Covid-19 Meters</span>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-drawer-container class="c-app__container" autosize [hasBackdrop]="sidenavHasBackdrop">
        <mat-drawer #sidenav class="c-app__container__sidenav" [mode]="sidenavMode" [opened]="true">
            <span class="c-app__container__sidenav__title">Menu</span>
            <nav class="c-app__container__sidenav__menu">
                <ul>
                    <li>
                        <button mat-flat-button [routerLink]="['dashboard']" routerLinkActive="active" (click)="isMobile ? sidenav.toggle(false): null">Global</button>
                    </li>
                    <li>
                        <button mat-flat-button [routerLink]="['countries']" routerLinkActive="active" (click)="isMobile ? sidenav.toggle(false): null">Countries</button>
                    </li>
                </ul>
            </nav>
        </mat-drawer>
        <main class="c-app__container__main" [@routeAnimations]="isMobile && o && o?.activatedRouteData && o?.activatedRouteData['animation']">
            <router-outlet #o="outlet"></router-outlet>
        </main>
    </mat-drawer-container>

</div>


