<div class="c-details">

    <ng-container *ngIf="viewData$ | async; let viewData; else spinner">
        <div class="c-details__header" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="center center">
                <img class="c-details__header__flag" [src]="viewData?.cases?.countryInfo?.flag" alt="Country flag">
                <span class="c-details__header__title">{{viewData?.cases?.country | titlecase}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="c-details__header__date">
                <span>{{'lastUpdate' | translate}}</span>
                <span class="c-details__header__date__value">{{lastUpdate$ | async | date:'d-M-yyyy, HH:mm z'}}</span>
            </div>
        </div>

        <div class="c-details__container" fxLayout="column">
            <div class="c-details__container__cards" fxLayout="row wrap" fxLayoutAlign="flex-start flex-start">
                <mat-card
                    class="c-details__container__cards__card"
                    *ngFor="let card of viewData?.cards; trackBy: trackByIndex"
                    fxFlex.xs="100"
                    [fxFlex.sm]="'0 1 calc(50% - 20px)'"
                    [fxFlex.md]="'0 1 calc(50% - 40px)'"
                    [fxFlex]="'0 1 calc(25% - 40px)'"
                >
                    <mat-card-header class="c-details__container__cards__card__header">
                        <mat-card-title class="c-details__container__cards__card__header__title">{{ 'cards.' + card?.title | translate}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="c-details__container__cards__card__content">
                                <span class="c-details__container__cards__card__content__value" [countUp]="card?.value" [options]="countUpOptions"
                                      [reanimateOnClick]="false"></span>
                    </mat-card-content>
                </mat-card>
            </div>
            <covid-charts [historical]="historical$" [country]="country$" [literals]="literals$"></covid-charts>
        </div>

    </ng-container>

    <ng-template #spinner>
        <div class="spinner">
            <mat-progress-spinner class="example-margin" color="accent" mode="indeterminate"></mat-progress-spinner>
        </div>
    </ng-template>

</div>
